extends ../../layouts/default.pug
include ../../mixins/filter-status.pug
include ../../mixins/search.pug

block main 
    h1 Danh sach san pham

    .card.mb-3
        .card-header Bo Loc Va Tim Kiem
        .card-body
            .row 
                .col-6
                    +filter-status(filterStatus)

                .col-6 
                    +search(keyword)
                          
    .card.mb-3
        .card-header Danh Sach 
            .card-body
                table.table.table-hover.table-sm
                    thead
                        tr
                            th STT 
                            th Hinh Anh
                            th Tieu De
                            th Gia
                            th Trang Thai
                            th Hanh Dong

                    tbody
                        each item, index in products
                            tr 
                                td #{index + 1}
                                td
                                    img(
                                        src=item.thumbnail 
                                        alt=item.title
                                        width="100px"
                                        height="auto"
                                    ) 
                                td #{item.title}
                                td #{item.price}$
                                td
                                    if(item.status == "active")
                                        a(href="#" class="badge badge-success") Hoat Dong
                                    else 
                                        a(href="#" class="badge badge-danger") Dung Hoat Dong     
                                td 
                                    button(class="btn btn-warning btn-sm") Sua 
                                    button(class="btn btn-danger btn-sm ml-l") Xoa 

    nav 
        ul(class="pagination")
            if(pagination.currentPage > 1)
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=pagination.currentPage - 1
                    ) Trang truoc
            - for (var i = 1; i <= pagination.totalPage; i++) 
                li(class=`page-item ${pagination.currentPage == i ? "active":""}`)
                    button(
                        class="page-link"
                        button-pagination=i
                    ) #{i}
            if(pagination.currentPage < pagination.totalPage)        
                li(class="page-item")
                    button(
                        class="page-link"
                        button-pagination=pagination.currentPage + 1
                    ) Ke Tiep             