extends ../../layouts/default.pug

block main 
    if (records.title)
        h1(class="mb-4")  #{records.title}

    if (records.description)
        div(class="mb-4") !{records.description}
 
    a(
        href=`${prefixAdmin}/roles/edit/${records.id}`
        class="btn btn-warning btn-sm"
    ) Chỉnh Sửa

    script(src="/admin/js/product.js") 