extends ../../layouts/default.pug
include ../../mixins/alert.pug
include ../../mixins/select-tree.pug

block main
    +alert-success(5000)
    +alert-error(5000)

    h1(class="mb-4") Chỉnh sửa tài khoản

    form(
        action=`${prefixAdmin}/accounts/edit/${records.id}?_method=PATCH`
        id="form-edit-products"
        method="POST"
        enctype="multipart/form-data"
    )
        div(class="form-group")
            label(for="fullName") Họ và tên:
            input(
                type="text"
                class="form-control"
                id="fullName"
                name="fullName"
                required
                value=records.fullName
            )
        div(class="form-group")
            label(for="email") Email:
            input(
                type="text"
                class="form-control"
                id="email"
                name="email"
                required
                value=records.email
            )
        div(class="form-group")
            label(for="phone") Số điện thoại:
            input(
                type="text"
                class="form-control"
                id="phone"
                name="phone"
                required
                value=records.phone
            )
        div(class="form-group")
            label(for="role_id") Phân quyền 
            select(name="role_id" id="role_id" class="form-control")
                option(disabled) -- Chọn --
                each item in roles
                    option(value=item.id) #{item.title}
        div(
            class="form-group"
            upload-image
        )
            label(for="avatar") Avatar
            input(
                type="file"
                class="form-control-file"
                id="avatar"
                name="avatar"
                accept="image/*"
                upload-image-input
            )
            img(
                src=records.avatar
                upload-image-preview
                class="image-preview"
            )
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusActive"
                name="status"
                value="active"
                checked=(records.status == "active" ? true : false)
            )
            label(for="statusActive" class="form-check-label") Hoạt động
        div(class="form-group form-check form-check-inline")
            input(
                type="radio"
                class="form-check-input"
                id="statusInActive"
                name="status"
                value="inactive"
                checked=(records.status == "inactive" ? true : false)
            )
            label(for="statusInActive" class="form-check-label") Dừng hoạt động 
        div(class="form-group")
            button(
                type="submit"
                class="btn btn-primary"
            ) Cập nhật    

    script(src="/admin/js/product.js") 