mixin form-change-multi(path)
    form(
        action=path
        method= "POST"
        form-change-multi
    ) 
        .d-flex.align-items-start
            .form-group
                select(name="type" class="form-control")
                    option(disabled) -- Chon hanh dong -- 
                    option(value="active") Hoat Dong 
                    option(value="inactive") Dung Hoat Dong 
                    option(value="delete-all") Xoa Tat Ca 
                    option(value="change-position") Thay Doi Vi Tri
            .form-group 
                input(
                    type="text"
                    name="ids"
                    value=""
                    class="form-control d-none"
                )
            button(type="submit" class="btn btn-primary") Ap Dung
